
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important;
}


.navbar-header .navbar-brand .brick-logo {

    display: inline-block;
    padding-top: 15px;
    color: whitesmoke;

}

.navbar-header .navbar-brand:hover {
    background-color: #3399ff;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;    
    border: 0;
    
}

.navbar-inverse .navbar-nav li a {

    color: #D5D5D5;

}

.navbar-brand {

    min-height: 55px;
    padding: 0 15px 5px;

}


.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {

    color:#FFF;
    background-color: #222;


}

.img-responsive {
    max-width: 75%;
    padding-left: 220px;5 
}



.social a {

 display: inline-block;
 background-color: white;
 margin-top: 12px;
 margin-right: 5px;
 padding: 5px;
 border-color: #a05107;
 border-radius: 5px;
 color:black;
 font-size: 15px;
 line-height: 15px;
 font-weight: bold;


}

.social {

 display: inline-block;
 margin-left: 10px;


}

.social a:hover {
    background-color: #3399ff;
}



.songkick {
    padding-left: 30px;
    text-align: center;

}

.heading {

    font-size: 32px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 15px;
}

section {

    margin-bottom: 33px;

}