* {
    box-sizing: border-box;
}

body {
    background-color: #FEFEFE;
    font-family: 'Rajdhani', sans-serif;
}

.brick-logo img {
    padding-top: 3px;
    width: 220px;
    padding-right: 20px;
}

/* Navbar Styling */

.navbar-header .navbar-brand .brick-logo {
    display: inline-block;
    padding-top: 15px;
    color: gray;
}

.navbar {
    padding-top: 10px;
    padding-bottom:5px;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.navbar-inverse .navbar-nav li a {
    display: inline-block;
    color: black;
    padding-right: 50px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #EA7F64;
}

.navbar-inverse .navbar-nav li a:focus {
    color: black;
}

.navbar-inverse .navbar-nav .active a {
    background-color: transparent;
    color: black;
}

.navbar-inverse .navbar-nav .active a:hover {
    background-color: transparent;
    color: #EA7F64;
}

.navbar-toggle {
    background-color: #D8D8D8;
}

#nav {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    padding-right: 250px;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}

/* Navbar Styling End*/

/* Background and Image Styling*/

#album-cover {
    display: inline-block;
    max-width: 130%;
    border: 2px solid rgb(221, 221, 221);
    margin-bottom: 50px;
    box-shadow: 3px 3px rgb(221, 221, 221);
}

.img-responsive {
    padding-top: 50px;
}

/* Background Styling*/

.songkick {
    text-align: center;
}

.heading {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 70px;
}

.box ul li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.box ul li:hover {
    cursor: pointer;
    color: #EA7F64;
}

#home {
    background-color: #FEFEFE;
}

#Videos {
    padding-top: 20px;
}

#Album {
    padding-top: 50px;
}

#Live {
    padding-top: 50px;
}

#Kontakt {
    padding-top: 50px;
}

/* Social Buttons Styling */

.social a {
    display: inline-block;
    background-color: #FEFEFE;
    margin-top: 12px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #999999;
    font-size: 23px;
    line-height: 15px;
    font-weight: bold;
}

.social {
    display: inline-block;
    margin-left: 30px;
}

.social a:hover {
    background-color: #FEFEFE;
    color: black;
}

.social2 a {
    display: inline-block;
    background-color: #FEFEFE;
    margin-right: 15px;
    border-radius: 5px;
    color: rgb(41, 39, 39);
    font-size: 30px;
    line-height: 15px;
    font-weight: bold;
}

.social2 {
    display: inline-block;
}

.icons {
    text-align: center;
}

.social2 a:hover {
    color: #EA7F64;
}

/* Social Buttons Styling End */

/* Rest Style */

footer {
    margin-bottom: 50px;
    margin-top: 50px;
}

.fa-paper-plane {
    color: black;
}

.btn-info {
    background-color: #CAD5AF;
    color: rgb(40, 54, 54);
}

.btn-info:hover {
    background-color: #EA7F64;
}

#datenschutz {
    cursor: pointer;
}

/* Rest Style End */

/* Songs Styling */

.active {
    color: #EA7F64;
}

/* Songs Styling End */

.radio-inline {
    float: right;
    font-weight: bold;
}

#slider1 {
    width: 100%;
}

.my-carousel {
    top: 0;
}

/* .my-nav {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 999;

} */

.insta img {
    padding-right: 7px;
    margin: 20px;
    border-radius: 35px;
}