* {
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #FEFEFE;

}

.navbar-header .navbar-brand .brick-logo {
    display: inline-block;
    padding-top: 15px;
    color: gray;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.navbar-inverse .navbar-nav li a {
    display: inline-block;
    color: gray;
    padding-right: 20px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: black;
}

.navbar-inverse .navbar-nav .active a {
    background-color: transparent;
    color: black;
}

.navbar-inverse .navbar-nav .active a:hover {
    background-color: transparent;
    color: black;

}



#nav {
    background-color: transparent;
    color: grey;
    padding-right: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}


#album-cover {
    display: inline-block;
    max-width: 130%;
    border: 2px solid gray;
    margin-right: 150px;
}

.img-responsive {
    padding-top: 20px;
    max-width: 60%;
}

.social a {
    display: inline-block;
    background-color: #FEFEFE;
    margin-top: 12px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    color: lightslategray;
    font-size: 23px;
    line-height: 15px;
    font-weight: bold;
}

.social {
    display: inline-block;
    margin-left: 30px;
}

.social a:hover {
    background-color: #FEFEFE;
    color: black;
}

.songkick {
    text-align: center;
}

.heading {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 15px;
}

#heading-cover {
    margin-left: 100px;
}

section {
    margin-bottom: 100px;
}

.box ul li {
    list-style: none;
    margin: 20px;
    font-size: 18px;
    text-align: center;
    padding-right: 30px;
}

#Album {
    margin-top: 150px;
    margin-bottom: 100px;
}

#home {
    background-color: #FEFEFE;
}

#hear {
    text-align: center;
    line-height: 25px;
}

#songs {

    padding-left: 100px;
}

#heading-songs {

    padding-left: 10px;
}